body {
  margin: 0;
  font-family: 'Noto Sans KR',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06061A;
  /* body전체 색상 조절 */
  height: 100%;
}

html{
  height: 100%;

}
#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
