.NavBar{
    background-color: #1C222E;
    height: 60px;
    display: flex;
    width: 100%;
    
}
.NavButtonWrap{
        display: flex;
        justify-content: flex-end; 
        align-items: center;   
        height: 100%;
        width: 100%;
        
}
/* .section{
    width: 100%;
    height: calc(100%-60px);
    background-color: #1C222E;
} */
.page{
    height: calc(100% -60px);
}